@model IEnumerable<WebCustomerFollowUp.Models.stok>

@{
    ViewBag.Title = "Stok İşlemleri";
}

<h2>Stok Tanımlama</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table>
    <tr>
        <th>
            Renk
        </th>
        <th>
            Beden
        </th>
        <th>
            Ürün
        </th>
        <th>
            Adet
        </th>
        <th>
            Stok Adı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Renk.renk1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beden.beden1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urun.urun1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StokAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
